.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  list-style-type: none;
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__description {
  display: flex;
  background-color: #fff;
  color: #000;
  padding: 25px 20px 25px;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
}

.card__like-button {
  background: transparent url(../images/heart.svg) center no-repeat;
  border-color: transparent;
  width: 21px;
  height: 18px;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.card__like-button:hover {
  opacity: 0.5;
}

.card__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  margin: 0;
}
