.header {
  margin-top: 45px;
  border-bottom: solid 1px rgba(84, 84, 84, 1);
  padding-bottom: 41px;
}

.header__image {
  height: 33px;
  width: 173px;
}

@media screen and (max-width: 690px) {
  .header {
    padding-bottom: 32px;
    width: 100%;
    margin-top: 28px;
  }

  .header__image {
    height: 24px;
    width: 126px;
    padding-left: 27px;
  }
}
