.header {
  margin-top: 45px;
  border-bottom: solid 1px #545454;
  padding-bottom: 41px;
}

.header__image {
  height: 33px;
  width: 173px;
}

@media screen and (max-width: 690px) {
  .header {
    padding-bottom: 32px;
  }

  .header__image {
    height: 24px;
    width: 126px;
  }
}
